<html>
    <body>
        <h3>Welcome hemanth!<br/>
            To best help with your search,<br/>
            we’d love to learn a little bit about you.</h3>
        <form>
            <label > What’s driving your career move? </label>
            <div>
                <input type="radio" id="skills" name="career_move" value="skills" />
                <label for="skills">Develop new skills</label>
            </div>

            <div>
                <input type="radio" id="balance" name="career_move" value="balance" />
                <label for="balance">Better work-life balance</label>
            </div>

            <div>
                <input type="radio" id="strengths" name="career_move" value="strengths" />
                <label for="strengths">Work that fits my strengths</label>
            </div>

            <div>
                <input type="radio" id="fresh_start" name="career_move" value="fresh_start" />
                <label for="fresh_start">A fresh start</label>
            </div><br/>
            <button type="submit">Continue</button>
        </form>
    </body>
</html>