<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/reset.css">
    <title>Login Page</title>
</head>

<body>
    <h1>Choose New Password</h1>
    <form>
        <div><label> New Password  </label><input type="password" name="new"><br /></div>
        <div><label> confirm Password  </label><input type="password" name="confirm"><br /></div>
        <button type="submit"> submit</button>
    </form>
    <a href="/login/login.html"> logIn</a><br/>
    <a href="/signup/signup.html">Create Account . SignUp</a>
</body>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/reset.js"></script>
</html>