body {
    background-color: rgb(248, 248, 248);
    margin : 0;
    display : flex;
    flex-direction: column;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
    padding : 30px;
}
form {
    border : none;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap : 30px;
    padding : 50px;
    padding-top : 80px;
    border-color : 1px solid rgb(88, 88, 88);
    box-shadow: 0px 0px 5px lightgray;
    border-radius: 30px;
    margin-bottom : 50px;
}
form > div {
    display : flex;
    gap : 30px;
    justify-content: space-between;
}
form > div > input {
    border : none;
    outline : none;
    border-bottom: 1px solid gray;
    padding : 7px;
}
form > div > label {
    padding : 7px;
    text-align: center;
}
form > button {
    border : none;
    border-radius : 10px;
    padding : 10px;
    outline : none;
    color : white;
    background-color: rgb(39, 111, 255);
    margin-top : 15px;
    max-width : 300px;
    align-self: center;
}
a {
    color : gray;
    text-decoration: underline 1px;
}